@import url('(https://fonts.google.com/specimen/Nunito+Sans)');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    --bgColor: hsl(0, 0%, 98%);
    --fontColor: hsl(207, 26%, 17%);
    font-family: 'Nunito Sans', sans-serif;
}

.dark {
    --bgColor: hsl(0, 0%, .98%);
    --fontColor: hsl(0, 0%, 100%);
    --countryBg: hsl(207, 26%, 17%);
    background: var(--bgColor);
    color: var(--fontColor) !important;

}

.heading,
.search-bar {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.show-Searchbar {
    display: none;
}

.heading {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.toggle {
    font-size: 18px;
    cursor: pointer;
    color: var(--fontColor);
}

.toggle i {
    padding-right: 5px;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    color: var(--fontColor);
}

.from-control {
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 5px;
    overflow: hidden;

}

.from-control input {
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.from-control i {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
    color: var(--countryBg)
}

.region-dropdown {
    width: 200px;
    position: relative;
}

.dropdown {
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
}

.dropdown p {
    letter-spacing: 0.5px;

}

.drop {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: 4rem;
    padding: 14px 14px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--bgColor);
}

.drop p {
    padding: 5px 0;
    cursor: pointer;
}

.countryes {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.country {
    min-height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 25px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--countryBg);
}


.country .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.country-details {
    padding: 20px 20px;
}

.country-details h5 {
    font-size: 20px;
    padding: 8px 0;
    letter-spacing: 1px;
}