@import url('(https://fonts.google.com/specimen/Nunito+Sans)');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    --bgColor: hsl(0, 0%, 98%);
    --fontColor: hsl(207, 26%, 17%);
    font-family: 'Nunito Sans', sans-serif;
}

.dark {
    --darkBlue: hsl(209, 23%, 22%);
    --bgColor: hsl(207, 26%, 17%);
    --fontColor: hsl(0, 0%, 100%);
    --veryDarkBlue: hsl(200, 15%, 8%);
    --countryBg: hsl(209, 23%, 22%);
    background: var(--bgColor);
    color: var(--fontColor) !important;

}

.heading,
.search-bar {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.show-Searchbar {
    display: none;
}

.heading {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: var(--darkBlue)
}

.toggle {
    font-size: 18px;
    cursor: pointer;
    color: var(--fontColor);
}

.toggle i {
    padding-right: 5px;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    color: var(--fontColor);
    background: var(--countryBg);
}

.from-control {
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: var(--countryBg);
}

.from-control input {
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.from-control i {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
    color: var(--countryBg)
}

.region-dropdown {
    width: 200px;
    position: relative;
    background: var(--countryBg);
}

.dropdown {
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;

}

.dropdown p {
    letter-spacing: 0.5px;

}

.drop {
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: 4rem;
    padding: 14px 14px;
    width: 100%;
    border-radius: 5px;
    background: var(--countryBg);
}

.drop p {
    padding: 5px 0;
    cursor: pointer;
}

.countryes {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.country {
    min-height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 25px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--countryBg);
}

.img {
    width: 100%;
    height: 50%;
}

.country .img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.country-details {
    padding: 20px 20px;
}

.country-details h5 {
    font-size: 20px;
    padding: 8px 0;
    letter-spacing: 1px;
}

.modal-country-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-country-img {
    width: 40%;
}

.modal-country-img img {
    width: 90%;
    height: 300px;
}

.modeal-country-details-left {
    padding-right: 50px;
}

.modeal-country-details-left h1 {
    margin-bottom: 30px;
}

.modeal-country-details-left p {
    margin-bottom: 20px;
}

.modeal-country-details-right {
    padding-left: 50px;
}

.modeal-country-details-right p {
    margin-bottom: 20px;
}

.container.active {
    filter: blur(5px) brightness(0.7)
}

.modal-country {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 500px;
    background: hsl(209, 23%, 22%);
    padding: 5rem;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.close-icon {
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

.close-icon i:hover {
    color: crimson;
}

.active.modal-country {
    visibility: hidden;
}

#spnir {
    display: none;
}